### SublimeText
*.sublime-workspace

### TextMate
*.tmproj
*.tmproject
tmtags

### OS X
*~
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
*_cache
output-*
RAVELLO

### JetBrains IDE
.idea/

### Vagrant
.vagrant/

### Packer
# Cache objects
packer_cache/
# For built boxes
*.box